<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Admin_AddCandidate</display-name>
    <servlet-name>Admin_AddCandidate</servlet-name>
    <servlet-class>Admin_AddCandidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_AddCandidate</servlet-name>
    <url-pattern>/Admin_AddCandidate</url-pattern>
  </servlet-mapping>
  <display-name>Online_Voting_System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Admin_AddElection</display-name>
    <servlet-name>Admin_AddElection</servlet-name>
    <servlet-class>Admin_AddElection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_AddElection</servlet-name>
    <url-pattern>/Admin_AddElection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_ChangePassword</display-name>
    <servlet-name>Admin_ChangePassword</servlet-name>
    <servlet-class>Admin_ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_ChangePassword</servlet-name>
    <url-pattern>/Admin_ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_Login</display-name>
    <servlet-name>Admin_Login</servlet-name>
    <servlet-class>Admin_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Login</servlet-name>
    <url-pattern>/Admin_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_SelectElection</display-name>
    <servlet-name>Admin_SelectElection</servlet-name>
    <servlet-class>Admin_SelectElection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_SelectElection</servlet-name>
    <url-pattern>/Admin_SelectElection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_SignUp</display-name>
    <servlet-name>Admin_SignUp</servlet-name>
    <servlet-class>Admin_SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_SignUp</servlet-name>
    <url-pattern>/Admin_SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_SignUP</display-name>
    <servlet-name>User_SignUP</servlet-name>
    <servlet-class>User_SignUP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_SignUP</servlet-name>
    <url-pattern>/User_SignUP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_Login</display-name>
    <servlet-name>User_Login</servlet-name>
    <servlet-class>User_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Login</servlet-name>
    <url-pattern>/User_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Candidate_Login</display-name>
    <servlet-name>Candidate_Login</servlet-name>
    <servlet-class>Candidate_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Candidate_Login</servlet-name>
    <url-pattern>/Candidate_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Candidate_SignUP</display-name>
    <servlet-name>Candidate_SignUP</servlet-name>
    <servlet-class>Candidate_SignUP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Candidate_SignUP</servlet-name>
    <url-pattern>/Candidate_SignUP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_View_Elections</display-name>
    <servlet-name>User_View_Elections</servlet-name>
    <servlet-class>User_View_Elections</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_View_Elections</servlet-name>
    <url-pattern>/User_View_Elections</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_ManageCandidate</display-name>
    <servlet-name>Admin_ManageCandidate</servlet-name>
    <servlet-class>Admin_ManageCandidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_ManageCandidate</servlet-name>
    <url-pattern>/Admin_ManageCandidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MobVerify</display-name>
    <servlet-name>MobVerify</servlet-name>
    <servlet-class>MobVerify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MobVerify</servlet-name>
    <url-pattern>/MobVerify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Plaintext</display-name>
    <servlet-name>Plaintext</servlet-name>
    <servlet-class>Plaintext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Plaintext</servlet-name>
    <url-pattern>/Plaintext</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admineditelection</display-name>
    <servlet-name>admineditelection</servlet-name>
    <servlet-class>admineditelection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admineditelection</servlet-name>
    <url-pattern>/admineditelection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_ElectionManagement</display-name>
    <servlet-name>Admin_ElectionManagement</servlet-name>
    <servlet-class>Admin_ElectionManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_ElectionManagement</servlet-name>
    <url-pattern>/Admin_ElectionManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editcandidate</display-name>
    <servlet-name>editcandidate</servlet-name>
    <servlet-class>editcandidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editcandidate</servlet-name>
    <url-pattern>/editcandidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_ManageCandidates</display-name>
    <servlet-name>Admin_ManageCandidates</servlet-name>
    <servlet-class>Admin_ManageCandidates</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_ManageCandidates</servlet-name>
    <url-pattern>/Admin_ManageCandidates</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminaddelectioncandidate</display-name>
    <servlet-name>adminaddelectioncandidate</servlet-name>
    <servlet-class>adminaddelectioncandidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminaddelectioncandidate</servlet-name>
    <url-pattern>/adminaddelectioncandidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminuploadelectionresult</display-name>
    <servlet-name>adminuploadelectionresult</servlet-name>
    <servlet-class>adminuploadelectionresult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminuploadelectionresult</servlet-name>
    <url-pattern>/adminuploadelectionresult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Candidate_Login1</display-name>
    <servlet-name>Candidate_Login1</servlet-name>
    <servlet-class>Candidate_Login1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Candidate_Login1</servlet-name>
    <url-pattern>/Candidate_Login1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contact_Us</display-name>
    <servlet-name>Contact_Us</servlet-name>
    <servlet-class>Contact_Us</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact_Us</servlet-name>
    <url-pattern>/Contact_Us</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>voterverify</display-name>
    <servlet-name>voterverify</servlet-name>
    <servlet-class>voterverify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>voterverify</servlet-name>
    <url-pattern>/voterverify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_ManageVoters</display-name>
    <servlet-name>Admin_ManageVoters</servlet-name>
    <servlet-class>Admin_ManageVoters</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_ManageVoters</servlet-name>
    <url-pattern>/Admin_ManageVoters</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>All_verify_VoterInfo</display-name>
    <servlet-name>All_verify_VoterInfo</servlet-name>
    <servlet-class>All_verify_VoterInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>All_verify_VoterInfo</servlet-name>
    <url-pattern>/All_verify_VoterInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>verifiedvoterlist</display-name>
    <servlet-name>verifiedvoterlist</servlet-name>
    <servlet-class>verifiedvoterlist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verifiedvoterlist</servlet-name>
    <url-pattern>/verifiedvoterlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_View_Elections1</display-name>
    <servlet-name>User_View_Elections1</servlet-name>
    <servlet-class>User_View_Elections1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_View_Elections1</servlet-name>
    <url-pattern>/User_View_Elections1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayCookieID</display-name>
    <servlet-name>DisplayCookieID</servlet-name>
    <servlet-class>DisplayCookieID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayCookieID</servlet-name>
    <url-pattern>/DisplayCookieID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_View_All_Election</display-name>
    <servlet-name>User_View_All_Election</servlet-name>
    <servlet-class>User_View_All_Election</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_View_All_Election</servlet-name>
    <url-pattern>/User_View_All_Election</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_View_Election</display-name>
    <servlet-name>User_View_Election</servlet-name>
    <servlet-class>User_View_Election</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_View_Election</servlet-name>
    <url-pattern>/User_View_Election</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_ShowResult</display-name>
    <servlet-name>Admin_ShowResult</servlet-name>
    <servlet-class>Admin_ShowResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_ShowResult</servlet-name>
    <url-pattern>/Admin_ShowResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Candidate_ViewElections</display-name>
    <servlet-name>Candidate_ViewElections</servlet-name>
    <servlet-class>Candidate_ViewElections</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Candidate_ViewElections</servlet-name>
    <url-pattern>/Candidate_ViewElections</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_position</display-name>
    <servlet-name>add_position</servlet-name>
    <servlet-class>add_position</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_position</servlet-name>
    <url-pattern>/add_position</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>available_positions</display-name>
    <servlet-name>available_positions</servlet-name>
    <servlet-class>available_positions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>available_positions</servlet-name>
    <url-pattern>/available_positions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gayatri</display-name>
    <servlet-name>gayatri</servlet-name>
    <servlet-class>gayatri</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gayatri</servlet-name>
    <url-pattern>/gayatri</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>candidateViewResult</display-name>
    <servlet-name>candidateViewResult</servlet-name>
    <servlet-class>candidateViewResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>candidateViewResult</servlet-name>
    <url-pattern>/candidateViewResult</url-pattern>
  </servlet-mapping>
</web-app>