@charset "ISO-8859-1";            
body
{
	font-family: Arial, sans-serif;
	background-color: rgb(243, 243, 243);
	justify-content: center;
	align-items: center;
	height: 100vh;

 }
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 128);
  padding: 10px 20px;
  height: 70px;
  box-shadow: 0 0 50px #f5f5f5;
  
  
}

.navbar > li {
    position: relative;
    font-weight: bold;
}

.navbar li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.navbar li:hover {
    background: #002e63;
}
.drodown {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #002e63;
    display: none;
    min-width: 180px;
    padding: 0;
    z-index: 1000;
}

.drodown li {
    width: 100%;
}

.drodown li a {
    padding: 12px 15px;
    color: white;
    display: block;
    white-space: nowrap;
}

.drodown li a:hover {
    background: rgb(0, 67, 140);
}

.navbar li:hover .drodown {
    display: block;
}
.form-container 
{
	margin-top: 30px;
	margin-left: 450px;
	background-color: rgb(245, 245, 245);
	border-radius: 8px;
	border: solid midnightblue 2px;
	padding: 20px;
	width: 500px;
}
.form-title 
{
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
	padding: 5px;
 }
.form-section 
{
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.form-section div
{
	flex: 1;
	margin-right: 10px;
}
.form-section div:last-child
{
	margin-right: 0;
}
.form-section label 
{
	display: block;
	margin-bottom: 5px;
}
        
.form-section input, .form-section textarea 
{
	width: 80%;
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
}
.rules{
	width: 100%;
}
.submit-button 
{
	background-color: navy;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	margin-top: 20px;
	cursor: pointer;
	border-radius: 4px;
	width: 100%;
}
.submit-button:hover
{
	background-color: rgb(0, 0, 176) ;
}
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(0, 0, 117);
    }
    .leaver{
		margin-left: 20px;
	}
