@charset "ISO-8859-1";
body 
{
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container
{
  background-color: #fff;
  padding: 50px;
  border-radius: 8px;
  width: 450px;
  height: 350px;
  max-width: 100%;
  margin-top: 90px;
  text-align: center;
 box-shadow: 0 0 50px rgb(0, 0, 0);
}
select
{
	margin-top: 20px;
	width: 75%;
	padding: 10px;
	
}
button
{
  width: 30%;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  align-content: center;
  margin-top: 40px;
  background-color: rgb(0, 0, 98);
}
button:hover
{
	background-color: rgb(0, 0, 128);
}