@charset "ISO-8859-1";
body 
{
	font-family: Arial, sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}
.container 
{
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 50px darkslategray;
}
h1 
{
	text-align: center;
	color: #333;
}
ul 
{
	padding-left: 20px;
}
li 
{
	margin-bottom: 10px;
}